ediarum.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:telota="http://www.telota.de" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD für ediarum</title>
        <editor>Stefan Dumont <email>dumont@bbaw.de</email></editor>
      </titleStmt>
      <publicationStmt>
        <publisher>
          <ref target="http://www.bbaw.de">Berlin-Brandenburgische Akademie der Wissenschaften</ref>
        </publisher>
      </publicationStmt>
      <sourceDesc>
        <p>Das ediarum zugrundeliegende TEI-XML-Schema basiert weitgehend auf dem Basisformat des Deutschen Textarchivs.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <!-- besser über https://github.com/deutschestextarchiv/dtabf/tree/master/schema/dist abrufen (raw dann) -->
      <schemaSpec ident="ediarum" source="http://telotadev.bbaw.de/oxygen/basisformat_ms.compiled.odd" start="TEI">
        <!-- DTABf -->
        <moduleRef key="tei"/>
        <moduleRef key="header" />
        <moduleRef key="core"/>
        <moduleRef key="textstructure"/>
        <moduleRef key="figures"/>
        <moduleRef key="linking"/>
        <moduleRef key="msdescription" except="typeDesc"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="textcrit" include="listWit witness" url="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml" />
        <moduleRef key="transcr"/>
        
        <!-- ediarum -->
        <moduleRef key="gaiji" include="g" url="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml" />
        <classRef key="att.canonical" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml" />
        <classRef key="att.written" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml" />
        
        <classSpec type="atts" ident="att.canonical" module="tei" mode="change">
          <attList>
            <attDef ident="ref" mode="replace">
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <classSpec type="atts" ident="att.global.rendition" module="tei" mode="change">
          <attList>
            <attDef ident="rendition" mode="change">
              <!-- vermutlich nur nötig bis Update DTABf -->
              <valList type="closed" mode="change">
                <valItem ident="#mMM" mode="add"/>
              </valList>
            </attDef>
            <attDef ident="rend" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="sticked" mode="add"/>
                <valItem ident="paragraph" mode="add"/>
                <valItem ident="align(right)" mode="add"/>
                <valItem ident="align(left)" mode="add"/>
              </valList>
            </attDef>
          </attList>
        </classSpec>
        
        <elementSpec ident="TEI" module="textstructure" mode="change">
          <attList>
            <attDef ident="doctype" ns="http://www.telota.de" usage="req" mode="add">
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
            <attDef ident="xml:id" usage="req" mode="replace">
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
            <attDef ident="oldID" usage="opt" mode="add">
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="pubPlace" module="core" mode="change">
          <classes>
            <memberOf key="model.publicationStmtPart.detail"/>
          </classes>
          <content>
            <macroRef key="macro.phraseSeq"/>
          </content>
          <attList>
            <attDef ident="ref">
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="msDesc" module="msdescription" mode="change">
          <attList>
            <attDef ident="rend" mode="replace">
              <valList type="closed">
                <valItem ident="manuscript"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="institution" module="msdescription" mode="add">
          <classes>
            <memberOf key="msdescription"/>
          </classes>
          <content>
            <macroRef key="macro.xtext"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="collection" module="msdescription" mode="add">
          <classes>
            <memberOf key="msdescription"/>
          </classes>
          <content>
            <macroRef key="macro.xtext"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="idno" module="header" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="change">
                <valItem ident="uri" mode="add"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
<!--        <elementRef key="listWit" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml"  />
        <elementRef key="witness" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml"  />
-->     
        <elementSpec ident="creation" module="header" mode="add">
          <classes>
            <memberOf key="model.profileDescPart"/>
          </classes>
          <content>
            <elementRef key="persName" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="placeName" minOccurs="0" maxOccurs="unbounded"/>
            <elementRef key="date" minOccurs="0" maxOccurs="1"/>
          </content>
        </elementSpec>
        
        <elementRef key="abstract" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
        
        <elementSpec ident="correspDesc" module="header" mode="add">
          <!-- vermutlich nur nötig bis Update DTABf -->
          <classes>
            <memberOf key="model.profileDescPart"/>
          </classes>
          <content>
            <elementRef key="correspAction" minOccurs="2" maxOccurs="2"/>
            <elementRef key="correspContext" minOccurs="0" maxOccurs="1"/>
            <elementRef key="note" minOccurs="0" maxOccurs="1"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="correspContext" module="header" mode="add">
          <!-- vermutlich nur nötig bis Update DTABf -->
          <content>
            <elementRef key="ref" minOccurs="1" maxOccurs="unbounded"/>
          </content>
        </elementSpec>
        
        <elementSpec ident="correspAction" module="header">
          <!-- vermutlich nur nötig bis Update DTABf -->
          <classes>
            <memberOf key="model.correspDescPart"/>
          </classes>
          <content>
            <alternate minOccurs="0" maxOccurs="unbounded">
              <elementRef key="persName"/>
              <elementRef key="orgName"/>
              <elementRef key="placeName"/>
              <elementRef key="date" />
            </alternate>
          </content>
          <attList>
            <attDef ident="type">
              <valList type="closed">
                <valItem ident="sent"/>
                <valItem ident="received"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <!-- text -->
        
        <elementSpec ident="persName" module="namesdates" mode="change">
          <attList>
            <attDef ident="cert" mode="replace">
              <valList type="closed">
                <valItem ident="low">
                  <desc>Identifizierung der Person ist unsicher</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="date" module="core" mode="change">
          <attList>
            <attDef ident="from" mode="add">
             <datatype>
               <dataRef key="teidata.temporal.w3c"></dataRef>
             </datatype>  
            </attDef>
            <attDef ident="to" mode="add">
              <datatype>
                <dataRef key="teidata.temporal.w3c"></dataRef>
              </datatype>  
            </attDef>
            <attDef ident="notBefore" mode="add">
              <datatype>
                <dataRef key="teidata.temporal.w3c"></dataRef>
              </datatype>  
            </attDef>
            <attDef ident="notAfter" mode="add">
              <datatype>
                <dataRef key="teidata.temporal.w3c"></dataRef>
              </datatype>  
            </attDef>
            <attDef ident="cert" mode="replace">
              <valList type="closed">
                <valItem ident="low"/>
                <valItem ident="medium"/>
                <valItem ident="high"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
                
        <elementSpec ident="table" module="core" mode="change">
          <!-- Workaround: das sollte aus den Daten und der Aktion entfernt werden -->
          <attList>
            <attDef ident="rows" usage="opt" mode="add">
              <datatype>
                <dataRef key="teidata.count"/>
              </datatype>
            </attDef>
            <attDef ident="cols" usage="opt" mode="add">
              <datatype>
                <dataRef key="teidata.count"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="row" module="core" mode="change">
          <!-- Workaround, which allows using of Oxygen XML Author implemented insert.table feature -->
          <attList>
            <attDef ident="role" usage="opt" mode="add">
              <valList type="closed">
                <valItem ident="label"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
                
        <elementSpec ident="figure" module="figures" mode="change">
          <attList>
            <attDef ident="facs" mode="replace">
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
            </attDef>
            <attDef ident="hand" mode="add">
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="figDesc" module="figures">
          <content>
            <macroRef key="macro.limitedContent"/>
          </content>
        </elementSpec>
<!--        
        <elementSpec ident="g" module="gaiji" mode="add" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml">
          <classes>
            <memberOf key="model.gLike"/>
          </classes>
          <attList>
            <attDef ident="ref">
              <valList type="closed">
                <valItem ident="#typoHyphen"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>-->
        
        <elementSpec ident="div" module="core" mode="change">
          <!-- vermutlich nur nötig bis Update DTABf -->
          <!-- für DTABf vorschlagen -->
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="writingSession" mode="add"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="lb" module="core" mode="change">
           <attList>
            <attDef ident="break" mode="add">
              <valList type="closed">
                <valItem ident="no"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="pb" module="core" mode="change">
          <attList>
            <attDef ident="facs" mode="change" usage="opt">
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="fw" module="core" mode="change">
          <attList>
            <!-- Optional ggf. wieder verpflichtend machen -->
            <attDef ident="place" mode="change" usage="opt">
              <datatype>
                <dataRef key="teidata.pointer"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="gap" module="core" mode="change">
          <!-- vermutlich nur nötig bis Update DTABf -->
          <!-- evtl. wird hier eine andere Lösung gefunden -->
          <attList>
            <attDef ident="reason" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="empty" mode="add"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="seg" module="linking" mode="add">
          <classes>
            <memberOf key="model.segLike"/>
          </classes>
          <content>
            <elementRef key="orig" minOccurs="1" maxOccurs="1" />
            <elementRef key="note" minOccurs="1" maxOccurs="1" />
          </content>
          <attList>
            <attDef ident="type" mode="replace">
              <valList type="closed">
                <valItem ident="comment"/>
                <valItem ident="transcription"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="metamark" module="transcr" mode="change">
          <!-- vermutlich nur nötig bis Update DTABf -->
          <attList>
            <attDef ident="function" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="used" mode="add"/>
              </valList>
            </attDef>
            <attDef ident="spanTo" mode="add" usage="opt">
              <datatype>
                <dataRef key="teidata.enumarated"/>
              </datatype>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementRef key="anchor" source="http://www.tei-c.org/release/xml/tei/odd/p5subset.xml" />
               
        <elementSpec ident="corr" module="core" mode="change">
          <!-- vermutlich nur nötig bis Update DTABf -->
          <attList>
            <attDef ident="type" mode="replace">
              <valList type="closed">
                <valItem ident="deleted"/>
              </valList>
            </attDef> 
            <attDef ident="cert" mode="replace">
              <valList type="closed">
                <valItem ident="low"/>
                <valItem ident="high"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
                
        <elementSpec ident="bibl" module="core" mode="change">
          <attList>
            <attRef name="sameAs" class="att.global.linking"  />
            <attRef name="n" class="att.global"  />
            <attDef ident="type" mode="replace">
              <valList type="closed">
                <valItem ident="print"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      
        <elementSpec ident="ref" module="core" mode="change">
          <!-- vermutlich nur nötig bis Update DTABf -->
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="change">
                <valItem ident="next" mode="add"/>
                <valItem ident="prev" mode="add"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="rs" module="core" mode="add">
          <!-- vermutlich nur nötig bis Update DTABf -->
          <classes>
            <memberOf key="model.nameLike"/>
          </classes>
          <content>
            <macroRef key="macro.phraseSeq"/>
          </content>
          <attList>
            <attDef ident="type">
              <valList type="closed">
                <valItem ident="person"/>
                <valItem ident="place"/>
                <valItem ident="org"/>
                <valItem ident="term"/>
              </valList>
            </attDef>
            <attRef name="key" class="att.canonical"/>
          </attList>
        </elementSpec>
        
        <elementSpec ident="add" module="core" mode="change">
          <!-- vermutlich nur nötig bis Update DTABf -->
          <!-- funzt nicht im Chaining -->
          <attList>
            <attDef ident="place">
              <valList mode="change">
                <valItem ident="mTop" mode="add"><desc>Manuskripte: Einfügung am oberen Seitenrand</desc></valItem>
                <valItem ident="mBottom" mode="add"><desc>Manuskripte: Einfügung am unteren Seitenrand</desc></valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
      
      </schemaSpec>
      
    </body>
  </text>
</TEI>
