ediarum.avhr.odd

<?xml version="1.0" encoding="UTF-8"?>
<TEI xmlns:xi="http://www.w3.org/2001/XInclude" xmlns:svg="http://www.w3.org/2000/svg"
  xmlns:math="http://www.w3.org/1998/Math/MathML" xmlns:telota="http://www.telota.de" xmlns="http://www.tei-c.org/ns/1.0">
  <teiHeader>
    <fileDesc>
      <titleStmt>
        <title>ODD für ediarum.AVHR</title>
        <editor>Stefan Dumont <email>dumont@bbaw.de</email></editor>
      </titleStmt>
      <publicationStmt>
        <publisher>
          <ref target="http://www.bbaw.de">Berlin-Brandenburgische Akademie der Wissenschaften</ref>
        </publisher>
      </publicationStmt>
      <sourceDesc>
        <p>Das ediarum zugrundeliegende TEI-XML-Schema basiert weitgehend auf dem Basisformat des Deutschen Textarchivs.</p>
      </sourceDesc>
    </fileDesc>
  </teiHeader>
  <text>
    <body>
      <schemaSpec ident="avhr" source="http://telota.bbaw.de/ediarum/base/schema/ediarum.compiled.odd" start="TEI">
        <!-- ediarum -->
        <moduleRef key="tei"/>
        <moduleRef key="header" />
        <moduleRef key="core" />
        <moduleRef key="textstructure"/>
        <moduleRef key="figures"/>
        <moduleRef key="linking"/>
        <moduleRef key="msdescription" except="typeDesc"/>
        <moduleRef key="namesdates"/>
        <moduleRef key="textcrit"/>
        <moduleRef key="transcr"/>
        <moduleRef key="gaiji" />
        
        <!-- ediarum.AVHR -->
        <classRef key="att.docStatus" source="https://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
        <elementRef key="revisionDesc" source="https://www.tei-c.org/release/xml/tei/odd/p5subset.xml" />
        <elementRef key="listChange" source="https://www.tei-c.org/release/xml/tei/odd/p5subset.xml" />
        <elementRef key="change" source="https://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
        
        <elementSpec ident="revisionDesc" module="header" mode="change">
          <attList>
            <attDef ident="status" mode="replace">
              <valList type="closed">
                <valItem ident="intern"/>
                <valItem ident="basis"/>
                <valItem ident="basis+"/>
                <valItem ident="print"/>
                <valItem ident="final"/>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementRef key="measure" source="https://www.tei-c.org/release/xml/tei/odd/p5subset.xml" />
        <classRef key="att.measurement" include="unit quantity" source="https://www.tei-c.org/release/xml/tei/odd/p5subset.xml"/>
        
        <classSpec type="atts" ident="att.measurement" mode="change">
          <attList>
            <attDef ident="unit" mode="replace">
              <datatype>
                <dataRef key="teidata.enumerated"/>
              </datatype>
            </attDef>
          </attList>
        </classSpec>
        
        <!-- 2022: Temporärer Fix, um Verwendung von head zu berücksichtigen -->
        <elementSpec ident="head" module="core" mode="change">
            <classes mode="change">
              <memberOf key="model.pLike" mode="add"/>
            </classes>
        </elementSpec>
        
        <elementSpec ident="name" module="namesdates" mode="change">
          <attList>
            <attDef ident="type" mode="replace">
              <valList type="closed">
                <valItem ident="plant">
                  <desc>Name ist der einer Pflanze</desc>
                </valItem>
                <valItem ident="animal">
                  <desc>Name ist der eines Tieres</desc>
                </valItem>
              </valList>
            </attDef>
            <attDef ident="subtype" mode="replace" usage="opt">
              <valList type="closed">
                <valItem ident="vernacular"></valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="note" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList type="closed" mode="change">
                <valItem ident="auxCalc" mode="add">
                    <desc>Anmerkung ist "Nebenrechnung"</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
        <elementSpec ident="ref" module="core" mode="change">
          <attList>
            <attDef ident="type" mode="change">
              <valList mode="change">
                <valItem ident="siglum" mode="add">
                  <desc>Verweissiglen von Alexander von Humboldt oder seinen Mitarbeitern</desc>
                </valItem>
              </valList>
            </attDef>
          </attList>
        </elementSpec>
        
      </schemaSpec>
      
    </body>
  </text>
</TEI>
